
body{

background-color: rgb(229, 190, 235);




}
ul{
text-align: end;
align-items: center;
display: flex;
justify-content:center;
font-weight:bolder;


}
.ol{

    display: flex;
    gap: 50px;


    
    

    
}
.li ul li{

list-style: none;


}
.painel01{

background-color: #fcdce5;
justify-content: center;
gap:30px;
padding:20px;



}
.img-logotipo{

background-color: rgba(242, 230, 243, 0);
width: 180px;
height: 180px;

}
.painel02{
background-image: url(imagem2/pexels-laarkstudio-8281588.jpg);
display: flex;
align-items: center;
justify-content: center;
padding:300px;
gap: 20px;
background-attachment:fixed;
background-position:center;
background-size: cover;
color: rgb(243, 242, 243);






}
.titulo{
text-align: center;
justify-content: center;
align-items: center;
color: rgb(59, 38, 61);


}
.form01{


align-items:flex-start;
justify-content: center;
text-align: center;
color: aliceblue;



}
