
body{
background-color: #fcdce5;

}
.painel{
 background-color: #fee8ef;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;



}
OL {
    
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    gap: 12PX;


}

ol li {
    list-style: none;
}

ol li a {

text-decoration: none;


}

.li ul li {

    list-style: none;


}




.img-painel{
width: 180px;
height: 180px;


}
.section-painel{

background-image: url(imagem2/Aliança\ de\ namoro\ 💋.jpg);
display: flex;
align-items: center;
justify-content: center;
padding:150px;
gap: 20px;
background-attachment:fixed;
background-position:center;
background-size: cover;
color: rgb(23, 22, 24);




}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 10px;
  color: white;
  text-shadow: 2px 2px rgba(196, 34, 34, 0.048);
  text-transform: uppercase;
  cursor: pointer;
  border: solid 2px rgb(211, 35, 35);
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 17px;
  background-color: hsl(0, 86%, 46%);
  background-image: url(imagem2/shoppingcart_accept_compra_12832.ico);
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  width: 200px;
  height: 90px;
  background-repeat: no-repeat;
  transition: 0.8s;


}

button:active {
  transform: scale(0.9);
  transition:0.8S;
}

button svg {
   transition:0.8S;
}

.play {
  transition: all 0.5s ease;
  transition-delay: 300ms;
}

button:hover svg {
  transform: scale(3) translate(50%);
}

.now {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  z-index: 2;
}

button:hover .now {
  transform: translateX(10px);
  transition-delay: 300ms;
}

button:hover .play {
  transform: translateX(200%);
  transition-delay: 300ms;
}
.img-painel02{
width: 500px;
height: 500px;






}
.section-05{
text-align: center;
display: flex;
justify-content: center;
align-items: center;






}
.section-03 {

    background-color: #d401d409;
    padding: 100px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    




}



.div-casal {

    background-repeat: no-repeat;
    /* deixa ela cetralizada  */
    background-size: cover;
    background-position: center;
    padding: 40px;
    border: rgb(166, 87, 219);
    color: #ffffff;
    border: 30px;



}


.div-casal:hover {

    box-shadow: 5px 5px 10px rgb(69, 7, 71);
  

}

.img-casal {

    width: 300px;
    height: 300px;
    border-radius: 50%; /* Cria um círculo perfeito */
      object-fit: cover; /* Garante que a imagem não seja distorcida */





}

.div-aliancas {

    background-repeat: no-repeat;
    /* deixa ela cetralizada  */
    background-size: cover;
    background-position: center;
    padding: 40px;
    transition: 0.8s;
    border: rgb(142, 51, 202);
    color: #e0dfdf;






}

.img-aliança {

    width: 300px;
    height: 300px;
     border-radius: 50%; /* Cria um círculo perfeito */
      object-fit: cover; /* Garante que a imagem não seja distorcida */



}

.div-aliancas :hover {

    Box-shadow: 5px 5px 10px rgb(111, 26, 114);
    transition: 0.8S;





}

.div-namoro {

    background-repeat: no-repeat;
    /* deixa ela cetralizada  */
    background-size: cover;
    background-position: center;
    padding: 40px;
    transition: 0.8s;
    border: rgb(192, 166, 209);
    color: #ffffff;





}

.img-namoro {

     width: 300px;
     height: 300px;
     border-radius: 50%; /* Cria um círculo perfeito */
      object-fit: cover; /* Garante que a imagem não seja distorcida */




}

.div-namoro :hover {

    Box-shadow: 5px 5px 10px rgb(111, 26, 114);
    transition: 0.8S;





}

.div-noivado {
    background-repeat: no-repeat;
    /* deixa ela cetralizada  */
    background-size: cover;
    background-position: center;
    padding: 40px;
    transition: 0.8s;
    border: rgb(192, 166, 209);
    color: #ffffff;




}

.img-noivado {

     width: 300px;
     height: 300px;
     border-radius: 50%; /* Cria um círculo perfeito */
      object-fit: cover; /* Garante que a imagem não seja distorcida */



}

.div-noivado :hover {
    Box-shadow: 5px 5px 10px rgb(111, 26, 114);
    transition: 0.8S;




}

.div-casamento {
    background-repeat: no-repeat;
    /* deixa ela cetralizada  */
    background-size: cover;
    background-position: center;
    padding: 40px;
    transition: 0.8s;
    border: rgb(140, 0, 233);
    color: #ffffff;




}

.div-casamento :hover {

    Box-shadow: 5px 5px 10px rgb(111, 26, 114);
    transition: 0.8S;




}

.img-casamento {
    width: 300px;
    height: 300px;
border-radius: 50%; /* Cria um círculo perfeito */
      object-fit: cover; /* Garante que a imagem não seja distorcida */



}

h2{
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;

}

h4{
text-align: center;
    font-size: 35px;
    color: #000000;
    background-color: rgba(229, 60, 235, 0);
    padding: 15px;



}
h1{
text-align: center;
    font-size: 35px;
    color: #000000;
    background-color: rgba(250, 1, 1, 0.021);
    padding: 15px;




}
h5{
text-align: center;
    font-size: 35px;
    color: #000000;
    background-color: rgba(226, 129, 241, 0.226);
    padding: 15px;
 background-image:url("imagem2/shoppingcart_accept_compra_12832.ico");
 background-repeat: no-repeat;
 background-position:end;






}
.section-04 {
 background-color: #d401d409;
    padding: 100px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
   


}







.div-casal {

    background-repeat: no-repeat;
    /* deixa ela cetralizada  */
    background-size: cover;
    background-position: center;
    padding: 40px;
    border: rgb(192, 166, 209);
    color: #ffffff;
    transition: 0.8s;



}

.div-casal:hover {

    box-shadow: 5px 5px 10px rgb(69, 7, 71);
    transition: 0.8S;

}

.img-casal {

    width: 300px;
    height: 300px;




}

.div-aliancas {

    background-repeat: no-repeat;
    /* deixa ela cetralizada  */
    background-size: cover;
    background-position: center;
    padding: 40px;
    transition: 0.8s;
    border: rgb(100, 57, 129);
    color: #000000;





}

.img-aliança {

    width: 300px;
    height: 300px;




}

.div-aliancas :hover {

    Box-shadow: 5px 5px 10px rgb(111, 26, 114);
    transition: 0.8S;





}

.div-namoro {

    background-repeat: no-repeat;
    /* deixa ela cetralizada  */
    background-size: cover;
    background-position: center;
    padding: 40px;
    transition: 0.8s;
    border: rgb(192, 166, 209);
    color: #020202;





}

.img-namoro {

    width: 300px;
    height: 300px;




}

.div-namoro :hover {

    Box-shadow: 5px 5px 10px rgb(111, 26, 114);
    transition: 0.8S;





}

.div-noivado {
    background-repeat: no-repeat;
    /* deixa ela cetralizada  */
    background-size: cover;
    background-position: center;
    padding: 40px;
    transition: 0.8s;
    border: rgb(192, 166, 209);
    color: #ffffff;




}

.img-noivado {

    width: 300px;
    height: 300px;



}

.div-noivado :hover {
    Box-shadow: 5px 5px 10px rgb(111, 26, 114);
    transition: 0.8S;




}

.div-casamento {
    background-repeat: no-repeat;
    /* deixa ela cetralizada  */
    background-size: cover;
    background-position: center;
    padding: 40px;
    transition: 0.8s;
    border: rgb(140, 0, 233);
    color: #ffffff;




}

.div-casamento :hover {

    Box-shadow: 5px 5px 10px rgb(111, 26, 114);
    transition: 0.8S;




}

.img-casamento {
    width: 300px;
    height: 300px;
}
.img-vitoria{
display: flex;
justify-content: center;
text-align: justify;
width: 600px;
height: 600px;
}
.section-07{
text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 25px;
 padding: 20px;




}




.footer {

    background-color: #ffffff;
    /*cor de fundo*/
    padding: 50px;
    /*preenchimento interno*/
    color: rgb(3, 3, 3);
    /*cor das letras*/
    /* sempre alinhar os itens utilizando o display:flex e suas propriedades */
    display: flex;
    /*utilizando para fazer alinhamento*/
    align-items: center;
    /*alinhamento vertical*/
    justify-content: center;
    /*alinhamento horizontal*/
    text-align: center;
    /*alinhamento dos textos*/
    font-size: 25px;
    /*aumentando o tamanho dos textos*/





}

footer i {
    font-size: 40px;
    color: rgb(26, 26, 26);
}
























